<div id="container">
  <p id="notice"><%= notice %></p>
    <% if params[:answer] %>
      <p>
        <strong>答え:</strong>
        <%= @question.data %>
      </p>
    <% else %>
      <p>
        <strong>問題:</strong>
        <%= @question.make_question %>
      </p>
      <p>
        <%= link_to "答えを見る", request.url + "?answer=true" %>
      </p>
    <% end %>
    <p>
      <%= link_to "次の問題", @next %>
    </p>
</div>