<!DOCTYPE html>
<html>
<head>
  <title>Stoick</title>
  <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
  <div class="header">
    <h1 class="header_logo"><%= link_to image_tag('logo.png',{:border => '0',:alt=>'sto[i]ck'}), '/' %>
    </h1>
    <ul>
      <li><%= link_to image_tag('edit.png',{:border => '0',:alt=>'edit'}),new_question_path ,class:"questionslist" %>
      </li>
      <li><%= link_to image_tag('new.png',{:border => '0',:alt=>'new'}),new_question_path ,class:"newpost" %>
      </li>
    </ul>
  </div>

  
<%= yield %>

</body>
</html>
